# --- FMOD Studio only ---

# 临时/缓存文件
*.cache
*.lock
*.tmp
*.bak
*.backup
*.log

# FMOD Studio 生成的文件夹
/Build/
/Banks/       # 如果 bank 文件由构建产出就忽略
/Cache/

# 工作区和用户配置
*.workspace.xml
*.user
*.userprefs
*.suo
